In [14]:
 #libraries
 from sklearn.datasets import load_wine
 from sklearn.linear_model import Perceptron
 from sklearn.model_selection import train_test_split
 from sklearn.metrics import accuracy_score
 from sklearn.metrics import confusion_matrix
 import pandas as pd

In [4]:
 #Load the Iris dataset
 wine = load_wine()

In [6]:
 #View the iris data keys
 wine.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

In [7]:
 #it is a key of dictionary iris
 wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [9]:
 ##Convert data and target into a data frame.
 #Extract the First 100 Features
 X = pd.DataFrame(data = wine.data[:((73 % 50) + 100),:], columns = wine.feature_names)
 X.head(5) #Inspect the features

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [2]:
 #Target
 y = pd.DataFrame(data=wine.target[:((73 % 50) + 100)], columns = ['wineType'])
 y.head()

   wineType
0         0
1         0
2         0
3         0
4         0

In [10]:
 # Split the dataset into training and testing sets
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [11]:
 # Create a Perceptron classifier
 mdlPercept = Perceptron()

In [ ]:
 # Train the classifier
 mdlPercept.fit(X_train, y_train)

In [ ]:
 # Make predictions on the test set
 y_pred = mdlPercept.predict(X_test)

In [12]:
 # Calculate accuracy of the classifier
 accuracy = accuracy_score(y_test, y_pred)
 print("Accuracy:", accuracy)

Accuracy: 0.84

In [13]:
 #Generate the Confusion Matrix
 print("Perceptron Confusion Matrix: ",confusion_matrix(y_test, y_pred))

Perceptron Confusion Matrix:  [[25  1]
 [ 7 17]]